<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.transistorsoft.kaouka.task</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Kaouka</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Kaouka</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAudioUsesDescription</key>
	<string>Vous devez accéder à la caméra et l&apos;audio pour poster des vidéos</string>
	<key>NSCameraUsageDescription</key>
	<string>Kaouka à besoin d&apos;utiliser la caméra pour vous permettre de poster des photos ou des vidéos</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Vous devez accéder à la localisation pour voir les posts autour de vous, sinon l&apos;app vous sera inutile</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Vous devez accéder à la localisation pour voir les posts autour de vous, sinon l&apos;app vous sera inutile</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Kaouka à besoin d&apos;utiliser la caméra pour vous permettre de poster des audios ou vidéos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Vous devez accéder aux images pour poster des photos/vidéos ou ajouter dans votre photo de profile</string>
	<key>RequestsOpenAccess</key>
	<false/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSUserNotificationUsageDescription</key>
	<string>This app requires push notifications to keep you updated.</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackgroundColor</string>
		<key>UIImageName</key>
		<string>LaunchImage</string>
	</dict>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>aps-environment</key>
	<string>development</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kaouka</string>
			</array>
		</dict>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array/>
</dict>
</plist>
